h1.header {
  font-size: 3em;
  text-align: center;
  font-family: 'Helvetica';
}
p.header {
  font-size: 1.1em;
  font-family: 'Helvetica';
  text-align: center;
}
.button-switch {
  display: flex;
  justify-content: center;
  font-family: 'Helvetica';
}
.contentArea-0-2-8 > textarea{
  height: 80vh;
}
.contentArea-0-2-18 > textarea{
  height: 80vh;
}
.footer-page{
  text-align: center;
  font-family: 'Helvetica';
  color: gray;
  font-size: small;
}